@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


:root{
  --mm-navy:#0B1B3A;
  --mm-navy2:#0A2556;
  --mm-orange:#F47B20;
  --mm-green:#17B890;
  --mm-card: rgba(255,255,255,.06);
  --mm-border: rgba(255,255,255,.14);
}

html{ scroll-behavior:smooth; }
